@{
    ViewBag.Title = "About";
}
<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul id="main-menu-items" class="sm sm-menu menu-efct" data-smartmenus-id="14315016324860693">
                    <li>
                        <a href="/" class="has-submenu"><span class="sub-arrow">+</span>Hindi</a>
                    </li>
                    <li>
                        <a href="/" class="has-submenu"><span class="sub-arrow">+</span>English</a>
                    </li>
                    <li>
                        <a href="/" class="has-submenu"><span class="sub-arrow">+</span>Marathi</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 main-search-bar">
                <!-- Top Search bar -->
                <form class="navbar-form float-width" role="search">
                    <div class="form-group float-width">
                        <input type="text" class="form-control float-width" placeholder="Search for music">
                    </div>
                    <a href="#" type="submit"><i class="fa fa-search"></i></a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main-menu">
<div class="container">
<div class="row">
        <div class="col-lg-12 main-search-bar">
                  <!-- Top Search bar -->
                  <form class="navbar-form float-width" role="search">
                     <div class="form-group float-width">
                        <input type="text" class="form-control float-width" placeholder="Search for music">
                     </div>
                     <a href="#" type="submit"><i class="fa fa-search"></i></a>
                  </form>
               </div>
    </div>
</div></div>
<div class="news-sec-1 float-width">
               <div class="float-width sec-cont2">
                  <h3 class="sec-title">MUSIC NEWS</h3>
                  
                  <div class="sec-1-sm">
                     <img alt="" class="blocky" src="~/demoImages/AUS-ON-THE-CHARGE1.jpg">
                     <div class="sec-1-sm-text blocky">
                        <h3>TOP 10 Pop track list past year</h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                     </div>
                  </div>
                  <div class="sec-1-sm">
                     <img alt="" class="blocky" src="~/demoImages/lalu_nitish_modi.jpg">
                     <div class="sec-1-sm-text blocky">
                        <h3>Another Hip-Hop rising star</h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                     </div>
                  </div>
                  <div class="sec-1-sm">
                     <img alt="" class="blocky" src="~/demoImages/parineeti_chopra-1920x1080.jpg">
                     <div class="sec-1-sm-text blocky">
                        <h3>New MP3 tracks are coming </h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                     </div>
                  </div>
                  <div class="sec-1-sm">
                     <img alt="" class="blocky" src="~/demoImages/unnamed-3511.jpg">
                     <div class="sec-1-sm-text blocky">
                        <h3>DJ Open Music Festival 2014</h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                     </div>
                  </div>
               </div>
            </div>
