@*@model EntityProject.CategoryMaster*@
@model List<BusinessClasses.SubCategoryModel>
@{
    ViewBag.Title = "News India";
}
@if (Model.Count > 0)
{
    <div class="container">
        <div class="float-width ticker">
            <h3 class="cat-label4">BREAKING NEWS</h3>
            <ul class="newsticker" style="height: 40px; overflow: hidden;">



                <li style="margin-top: -31.4486425118918px;">
                    <h4>@Model[0].Title</h4>
                </li>
                @for (int i = 1; i < Model.Count; i++)
                {
                    <li style="margin-top: 0px;">
                        <h4>@Model[i].Title</h4>
                    </li>
                }
                
            </ul>
            <div class="ticker-ctrls">
                <a id="tkr-prev"><i class="icon-left-open-big"></i></a>
                <a id="tkr-nxt"><i class="icon-right-open-big"></i></a>
            </div>
        </div>
    </div>
}

@*<div id="earth"><div style="width: 100%;position: absolute;margin-top: 45%;font-family: times new roman;font-size: 45px;"><marquee scrollamount="20">
                                                                                                                              
                                                                                                    
    News India</marquee></div></div>*@
<link href="~/Content/ViewCss/Home.css" rel="stylesheet" />
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@