@{
    ViewBag.Title = "Error";
}


<div>
    
    <img src="~/Content/Images/Error.png" class="NoDataImg" />
    <h1 class="NoData">Oops, something went wrong while processing your request!!!</h1>
</div>


