
@{
    ViewBag.Title = "NotFound";
}

<div>
    
    <img src="~/Content/Images/Maintenance.png" class="NoDataImg" />
    <h1 class="NoData">The Page you are trying to access is currently unavailable or is under Maintenance.</h1>
</div>
