@{
    ViewBag.Title = "Account Created";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Account has been successfully Created, Please check your Email inbox for further notifications.</h2>


