@model BusinessClasses.UserActivationModel
@{
    ViewBag.Title = "UserActivate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you @Model.UserName, Your account has been activated. Please login to continue.</h2>

